$sideWidth : 15rem;
$headHeight : 6rem;
$test : 5px;

html,body{
	height:100%;
	margin:0;
	padding:0;
	font-size: 16px !important;
	line-height: 1;
	background:#fafafa;
	font-family: "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;

}

code{
	padding: .2rem .4rem;
	font-size: 90%;
	color: #bd4147;
	background-color: #f7f7f9;
	border-radius: .25rem;
	line-height:1.5;
}

iframe{
	width:100%;
	height:100%;
}

ul, ol {list-style: none;margin:0;padding: 0px;}

//框架样式
.impex-layout {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden; 

    header{
		position: fixed;
	    right: 0;
	    left: 0;
	    z-index: 9;
	    font-size: 2rem;
	    background-color: #000;
	    color: #fff;
	    padding: 1rem;
	}

	.sidebar {
	    white-space: nowrap;
	    width: $sideWidth;
	    position: fixed;
	    border-right: 1px solid #ddd;
	    float: left;
	    height: 100%;
	    overflow: hidden;
	    transition: all .2s;


	    .scrollpane {
		    width: 100%;
		    height: calc(100% - #{$headHeight});

	        padding-top: $headHeight;
	        padding-bottom: 0;
		    overflow: hidden;
		    position: relative;
		    background-color: #eee;

		    .menu-items{
		    	margin-left: .5rem;
		    	li.active a{
		    		background: #d2d7dc;
    				color: #fff !important;
		    	}
		    	a{
		    		color: #666 ;
				    padding: .2rem 1rem;
				    display: block;
				    text-decoration: none;
				    line-height: 1.5;

				    &.cate{
			    		outline: none;
					    width: 80%;
					    padding: .5rem 2rem .5rem 1rem;
					    position: relative;
					    display: inline-block;
					    margin: .5rem 0;
					    overflow: hidden;
					    background: #718a90;
					    color: #fff ;
			    	}

		    		&.link:hover{
		    			background: #fafafa;
		    			text-decoration: underline;
		    			color: #666 !important;
		    		}
		    	}
		    }
		}
	}
	.sidebar.hidden{
    	width: 0;
    	white-space: nowrap;
    	overflow: hidden;
    	border-right:none;
    }

	.togglebar {
		position: fixed;
		display: flex;
		flex-direction: row;
	    top: 4rem;
	    width: 100%;
	    background-color: #ddd;
	    z-index: 9;
	    border:1px solid #ddd;
	    border-width: 1px 0 1px 0;

	    .menubar{
	    	width: $sideWidth;
	    	position: relative;
	    	line-height: 1.5;
	    	transition: width .2s;

	    	.toggler{
	    		position: absolute;
	    		right: .5rem;
	    		line-height: 1.6;
	    		border:1px solid transparent;
	    		padding: 0 .5rem;

	    		&:hover{
	    			border:1px solid #ddd;
	    		}
	    	}
	    }
	    .menubar.hidden{
	    	width: 2rem;
	    	white-space: nowrap;
	    	overflow: hidden;
	    }

		.tabbar{
		    bottom: -1px;
		    height: 85%;
		    flex:1;
		    overflow: hidden;
		    position: relative;

		    .nav{
		    	padding: 5px .2rem;
		    	position: absolute;
    			left: 0rem;
    			margin-top: 1px;
		    }
		    .nav.right{
		    	left:auto;
		    	right: 1rem;
		    }
		    .nav:hover{
		    	border:1px solid #ddd;
		    }

		    .slidebox{
		    	overflow: hidden;
		    	height: 100%;
		    	margin: 0 2rem 0 1rem;
		    }

		    ul{
		    	margin: 0;
			    height: 100%;
			    white-space: nowrap;
			    width: 100%;

			    li{
			    	display: inline-block;
	    			height: 100%;

					margin-top: 1px;
					margin-right: .5rem;
					border: 1px solid #ddd;

					a{
						text-decoration: none;
						padding: 0 1rem;
						display: inline-block;
						
						line-height: 1.5;
					}

					i.fa{
						margin-right: .5rem;

						&:hover{
							color:red;
						}
					}

					&.active{
						border-bottom: 1px solid #fff;
					}
			    }
		    }
		}
	}

	.main{
		margin-left: $sideWidth;
	    padding: 7.5rem 1rem 2rem 1rem;
	    transition: all .3s;

	    .panel{
	    	display: none;
	    }

	    .panel.active{
			display: block;
		}

		&.hidden{
			margin-left:0;
		}
	}
}